.box {
    display: inline-flex;
    border: 3px #737495 solid;
    border-radius: 1em;
    background-color: #000;
    color: #fff;    
    font-size: 1rem;
    text-justify: distribute-all-lines;
}
