.container {
    background-color: #55efc4;
}
.gameBox {
    display: inline-flex;
    border-radius: 0.5rem;
    border: 0.2rem #737495 solid;
    background-color: #000;
    color: #fff;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
}
.bitten {
    display: inline-flex;
	background-color: #d63031;
	color: #000;
	padding: 3em;
	justify-content: center;
	text-align: center;
	border: 4px #e84393 solid;
	font-size: xx-large;
	animation: blink 1s infinite;
}
.not-bitten {
    
    display: inline-flex;
    background-color: #74b9ff;
	color: #000;
	padding: 3em;
	justify-content: center;
	text-align: center;
	border: 4px #0984e3 solid;
    border-radius: 1em;
	font-size:xx-large;
}
@keyframes blink {
    0% {
        background-color: #d63031;
    }
    50% {
        background-color: #dfe6e9;
    }
    100% {
        background-color: #d63031;
    }
}