.container {
    background-color: #55efc4;
}

.gameBox {
    display: flex;
    width: 14.5rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: 0.2rem #737495 solid;
    background-color: #000;
    color: #fff;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
}

.resultats {
    display: flex;
    width: 20%;
    justify-content: center;
    text-align: center;
    border: 2px #000 solid;
    font-size: large;
}
