.box {
    background-color: #778ca3;
}

.line {
    border: none;
    height: 1px;
    background-color: #ccc;
    box-shadow: 0px 0.5px 0.5px #5F4D4B inset;
}

.result {
    display: inline-flex;
    border-radius: 0.5rem;
    border: 0.2rem #737495 solid;
    background-color: #000;
    color: #fff;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
}